 
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <!-- <a href="#about" (click) = "getAll()">wishlist</a>
  <app-wishlistcard [url] = allTracks ></app-wishlistcard>
</div> -->

  <!-- <a href="#contact" routerLink='/wishlist'>WishList</a> -->
  <!-- <button mat-mini-fab color="primary" (click) = getAll()>WishList</button> -->
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="value" [(ngModel)]="value">
      <button type="submit" (click)="Search(value)"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<!-- <div>
    <button (click) = "getAll()">wishlist</button>
    <app-wishlistcard [url] = allTracks ></app-wishlistcard>
  </div> -->

<div class="cardList">
    <ul *ngIf="searchdata">
        <ol  *ngFor="let search of searchdata">
          <app-card class="cardListItem" [trackname]=search.name [trackartist]=search.artist [image]=getImage(search) [id]=search.listeners></app-card>
        </ol>
    </ul> 
</div>
</body>
</html>
<router-outlet></router-outlet>










